DATABASE_URL=postgresql://user:password@ep-xxxx-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

AWS_ENDPOINT_URL_S3=your_neon_s3_endpoint_here
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=your_neon_token_id_here
AWS_SECRET_ACCESS_KEY=your_neon_secret_key_here
